<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="WinErdbEntities" connectionString="metadata=res://*/WinerModel.csdl|res://*/WinerModel.ssdl|res://*/WinerModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;password=win;Persist Security Info=True;database=fatimadb&quot;" providerName="System.Data.EntityClient" />
    <add name="centraldbEntities" connectionString="metadata=res://*/CentralDbModel.csdl|res://*/CentralDbModel.ssdl|res://*/CentralDbModel.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;User Id=root;Persist Security Info=True;password=win;database=centraldb&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>