.ui-resizable-handle {
    position: absolute;
    display: block;
    font-size: .1px;
}

.ui-resizable-e {
    cursor: e-resize;
    width: 10px;
    right: -10px;
    top: 0;
    height: 100%;
}

.ui-resizable-w {
    cursor: w-resize;
    left: 0;
    top: 0;
    height: 100%;
}

.ui-resizable-s {
    cursor: s-resize;
    width: 100%;
    bottom: 0;
    left: 0;
}

.ui-resizable-se {
    cursor: se-resize;
    right: 0;
    bottom: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAANxJREFUeNrsVcEKwyAM1bGDt3rcbfv/q/7X1l7Ww8BFiZC6iG7VwsDAQ1Lqe3mRqHTOiSPjJA6OITgEh+AQ5ENKWQVrrYNVA5TPWa6auzS3mQmNeHhw3E1aaox5oZBAsTVbfCOHG2fxY3OH4OxJnUF+x1z1cujJJ8CMzvqcIThxxNlMnBXPMPS5hIyzGxEJOSlE5bi/EgTCBVsYWkcEIi60kN2CKHbFlXOmmzhMCKecs5YtLZ1ZdUtrx0Jh1StCJYgDv/mP4947h2khHxPQ+/IuCp5/3fg3D/BbgAEAWCJAHYQkPUYAAAAASUVORK5CYII=) right bottom no-repeat;
}

.proxy {
    border: 1px dotted #808080;
}

.container .containerTable {
    width: 100%;
    background-color: #fff;
    margin-bottom: 20px;
}

    .container .containerTable .c {
        height: 100%;
        height: auto;
    }

.container .n a {
    font-size: 18px;
    text-decoration: none;
    color: #000;
    position: relative;
}

    .container .n a:hover {
        text-decoration: underline;
    }

.container .containerBody {
    overflow: auto;
    position: relative;
    margin-right: -15px;
    padding-right: 15px;
}

.container .icon {
    position: absolute;
    margin-top: -25px;
    margin-left: -4px;
}

.container .spacer {
    padding-top: 10px;
}

.container .restoreContainer {
    width: 32px;
}

.container .buttonBar {
    right: 10px;
    top: 5px;
}

    .container .buttonBar img {
        padding: 5px;
    }

.container.default .n, .container.skin1 .n, .container.skin3 .n {
    padding-left: 22px;
    padding-bottom: 0;
    font-size: 18px;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container.default .n {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAC8AAAAkCAYAAAAZ4GNvAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAHhJREFUeNrs1cEJgDAMRuFUBM/ZfzZ1hxxbTOsEgh6UH18n+AgvaTGzyUTfrI5fVPElIrosvp9PFS/bO3jwT0+l8L6CBw8e/Fv4I1N48kk24G/js9M82fyteSb/1cImk6d5TiU/LM1f4/dtDVl8a7XK4t1dtpshwAD8cViuUtvOCAAAAABJRU5ErkJggg==) top repeat-x;
}

.container.default .ne, .container.default .no, .container.skin1 .n {

}

.container.default .ne {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAkCAYAAABixKGjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZZJREFUeNrslkFKw0AUhmfiaBOpYlxEcavupLjrGXqAgiuv0GVP4QW6VnIDd4EsXRdECKibLlukAWtpk4z/yLRMExvjhCqFPvjIwOT9b+afNyGUEGKQn4MvGecGKyiuivLUOFe88gtBQaI8aarYQtAwDL+diOOYjEajIXjs9Xr3ruvedTqdNzGlkCjFsjq8YPT7/aHneTdIccAh2AMm2JbWUm1xEVEU8W63+9BoNC6QegQOwC7YAVuZAlwjgiB4QuopOAG2LJDdgY642IHv+7dIP5cFxA6sTPdxzRCN0Gq1riBxBo7Bvuy8uT0G3iM6VKtV0mw2r6Uls4OdCX+JU7Rc4RuXjsFgQBzHqWM4BCF4B2MQCVO0Vy4wTZO02+267JbZgc4PlYmXdMOyLILDZVKYpW0ptXJBrVa7VFastiIttXLZbVQRXbhEpcXV71TqSVicJGRVwXjCVyjO11U84RvP/97ztbVlpTd04/k/HOi6ev768hzqJuMPuJIrPp1OJrri4/EHyxW3bVvbF8MwxG/d0vlPAQYAClosXDa8qeYAAAAASUVORK5CYII=) top right no-repeat;

}

.container.default .no {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAkCAYAAABmMXGeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATtJREFUeNrUlr9ugzAQxu8IJYDUCBZgyiP0EbJ1jfoSfUvEztg1nXiBDEgoZehdbVEqQmOBwR44ybL4ox/ffT7sQ9ALnLhW31S8M5xR58uPnvfDGc2oYuAcWFEUb1mWneM4PiHiMQxDgAW+STVunuevVVV9tG3LOqEElmX5Xtc1LwklsGkaXhpj6E6mvFThGNqrfJIe8spwh0rlKidJ8vLAa61wh0rTND17ngcmoH9FHEXRaS3wn1JZ2EQdFNEMFPd7X6ROM7eEmekzMJhMvwvuobxK7V1JSSD1Slcodu+FCqVkOH1mC55KngWo9JQspL8RT9mWp6ahYCt9os3U6RZWH6zVKW3B08vnBQ7PhysRiW2fURyCk73oJPTrdoPA92WL54ghoOSsVhoEAYge9Pu3e3Go+xG0lf4IMADfgtzZC5T9bAAAAABJRU5ErkJggg==) top right no-repeat;

}

.container.default .o {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAASCAYAAAC0EpUuAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADlJREFUeNpiZGBgYIJi9tOnT3/R1dV98O/fPyYY/v//PyMDiYCJgQZg1NBRQ0cNHTV01FDqAIAAAwDObBDdiNyCagAAAABJRU5ErkJggg==) top right repeat-y;

}

.container.default .e {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAQCAYAAAD9L+QYAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADtJREFUeNpi/Pjx4zMGMsGbN294Dh8+vCEhIWEKkPsBir8C8U8g/sfEQEMwavio4aOGjxo+ajgyAAgwAOp7ECKQz+7dAAAAAElFTkSuQmCC) top right repeat-y;

}

.container.default .s {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB0AAAAfCAYAAAAbW8YEAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFZJREFUeNpi/Pjx4zMGOgMmhgEAo5aOWjpq6ailo5aOWjpq6ailo5YOEktZ3rx5w0N3Sw8fPryB3pYyArEZ3X0KxB9GhKWg4OUeCEtZBsJSuudVgAADAMebC+s8BH1mAAAAAElFTkSuQmCC) bottom repeat-x;

}

.container.default .se {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABcAAAAfCAYAAAAMeVbNAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXFJREFUeNrslsFqg0AQhjXYpKXN6/R5fAzpU1To0UOPHtujZ2++gD20CEUKFZWKGl2Na2fLGDaLSVQS6MGBH1nFb2f+ndWVkyT5kiZGGIZ3tm2/qKr6BMMfVA4iILqQLhgzfIbP8Bn+7+CEkCv4Mn5fBE4pXfi+f344gOWiKJaWZb3jrVa4ToenaXoN8lzXTdlcCG3PknkURWvHcV4RzGtXwSQ4LOI6juNPTdMsGNaoLajhKxgNh3/uTRAEsmEYjwitULWYvTI2YwbWdf3BNE0XbpUoghNsEf5ny0l40zSLLMtWzGNmBcsYwG/wqABtUCVmvmeLwo4HfVBosxVel6wrYPGeOY9LhOZH4ezc0Qf3PO8D/M1ZH2O7NVh2xcE3WAFvya4dZdD9kD2D6haQcH5XXKfswRU8JR2LrkyKkJqbpOYypuImGgKXODjl7GmEbFvxJWbL7QCwWAEP7AV38DG93vZMdjDkgbu0PTHujV8BBgAeFfLeVYWBjgAAAABJRU5ErkJggg==) bottom right no-repeat;

}

.container.default .so {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAfCAYAAAAIjIbwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXtJREFUeNrsVTFugzAU9bchcVuqNEtUIcZkRJlQT9BOOUAvkDNk7m0Ym7VTGdoOWXKETFkRCkFAG1xbsiMLkRCaZuNLT4Bkv//+8/8YEEJYortYLGLXdVdFUWAFxhighoHRBaIlbUlb0pb0MqT8NxfleW78JynLsuwzjmOqLwAAdpbS7Xb7EYahda5SopFjwzBW4/F4alkWM02zUGIlGpGqTXi5XH5PJhPECR97vV7CS/8TKWgQByT8vAmC4HUwGLi2bYcYi2uKQZO7imjk6onX6/W753lPaZo63IqUEFKU1tUq3ZNJtV2Oaw5rPp+/OI7z3O/3Y2GH5jM6ppxUJNiH7/tfURS93fPg7TbabDZ3HDRJki6vwuTPThWgwl+RyJSKr6RqATqbzR52ux0ZDocjSultXfmoZAORVnTk4VGZpCMT4mMjXh5JMT2F9q6+fzgySWhIwoOtBjWtplQr5URTCaeWf6iHoUQGx/ZDgwE5ebqg4fSdtPdXgAEAlLGDZ//kJMQAAAAASUVORK5CYII=) bottom right no-repeat;

}

.container.default .c {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAYAAABzenr0AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADFJREFUeNrszjEBAAAIAyDXv6f/GhjDBxKQtjuPIiAgICAgICAgICAgICAg8B04AQYAogJ3QXZjY90AAAAASUVORK5CYII=);
    padding-top: 0;
}

.container.skin1 .n {
    background-color: #eee;

}

.container.skin1 .ne {
    background-color: #eee;

}

.container.skin1 .no {
    background-color: #eee;

}

.container.skin1 .o {

}

.container.skin1 .e {
    background: url() top right repeat-y;

}

.container.skin1 .s, .container.skin1 .se, .container.skin1 .so {
    background-color: #fff;

}

.container.skin1 .se {

}

.container.skin1 .so {

}

.container.skin1 .c {
    background: url();
    padding-top: 0;
}

.container.skinAlert .n {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABEAAAAnCAYAAADpTqNKAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFtJREFUeNpifColxchAIWAEGsJMDUM4KTWEBYh5KHbJ73v3plJsyH8gGDVk1BBChvw7degPxYb8UWb+Qg1DPlNsyF9lpk+DxpCPo4aMGjJqyKgho4YMXkMAAgwAmzVeI1lgCg4AAAAASUVORK5CYII=) top repeat-x;
    padding-left: 25px;
    padding-top: 0;
    vertical-align: bottom;
    color: #fff;
}

    .container.skinAlert .n a {
        color: #fff;
    }

.container.skinAlert .ne {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAnCAYAAAD6meO+AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWZJREFUeNrslb1KA0EQgHfXM0Yk+EO0OF/Ays7SEH2FVDbpfRarFGl8AeEQX8HCJuAjhAQtTBGCglESzV7GmcssXCLxIrsRhB34mIGD/XZvbvbkUxhK4SD2Ox2Y90yiZMVyfZjJ34QkWbcUGMapPCUiya6lgBaNGc05ERqRHLXb9V8vL5M2wiCKbvq12iPWI+QjhZElIgkYNg3RzeZ1t1y+wPId6SNvyJDFichaQvHZaES9SuUSyxfkGXlFBkbkRELRLZXOdav1QCXSS4m0Eo5io1o9xbSHbCMFZA0JqIPOJKpYDDHtIFvkZAnNoHImAa1zfAIS0OytssTdSUQc04J5JscS5VYCoHjnBmkI4P4uzpy9g0MlCptZF6k0O59BBOOzk2FmU69u8/LoeNGLdEog+BMDseQIpJg/jMCXlLXk53NPNiAdSCDj/doP6oJ/vaVKnIiU+IPwEi/xEi/xEi/5N5IvAQYA+1t9NIUZ7D8AAAAASUVORK5CYII=) top right no-repeat;
    height: 36px;
    width: 22px;
}

.container.skinAlert .no {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAnCAYAAADgpQMwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAQtJREFUeNrs1DEKwjAUBuD3XlLExUGohYIXcVI8gpOTeAy9gCfwKu7iKPQWXkEUbZ62WomltLHJ4JAfSgMNX/PSlyI05BTHCD8GDSCsm2uEaiC9nxd3NIWxAiwg8bzk+y5KuBlaAoPeeh12Z7PFc9yH+51AKWKlXnOYm1Gt5GxFQZQkSxGGGyDqQYtIbZyXPNjvpyKKtmARKn0YKYbDFViGtG3I9xI7nZErNC893O3G4CD6SgWfz4ErFD/o9Spdr5T4dhMuUPl1BLMmNwgfD6lJn+Yop6nR2VbzycW0+bPjhy2q5ToUbMHipyBtwaq/i5MWKr+IXIPWqFY6VzW/03jUox71qEf/GH0IMAAwsz2rQr9SCQAAAABJRU5ErkJggg==) top right no-repeat;
    height: 36px;
    width: 24px;
}

.container.skinAlert .o {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAQCAYAAAD52jQlAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEFJREFUeNpifColxczAwMAGxDyCM2Z4c/r6zmcgAP6qsHwFUv8ZGf7/hwr9R5ZnYqABGDV01NBRQ0cNHdyGAgQYADyHCjNy+pdlAAAAAElFTkSuQmCC) top right repeat-y;
    height: 25px;
    width: 24px;
}

.container.skinAlert .e {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAOCAYAAADaOrdAAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEBJREFUeNpi/KvM9JGBAGBafoCbwdSWGZ+abytWXPxQXLwLyHwIxPeh9Csg/sLEQAcwasmoJaOWjFoyFC0BCDAAyTUOPsNaW8gAAAAASUVORK5CYII=) top right repeat-y;
    height: 25px;
    width: 22px;
}

.container.skinAlert .s {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAhCAYAAAA2/OAtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNpi/KvM9JGByoCJgQZg1NBRQ0cNHTV0cBvKwmjpxEJtQxn/A8GooaOGjkhDn0pJdVE9mwLxQ1oYen/IuPQVLQz9QgtDf1HbUIAAAwBvJi3RziL4LwAAAABJRU5ErkJggg==) bottom repeat-x;
    height: 22px;
}

.container.skinAlert .se {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAhCAYAAAAswACjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATNJREFUeNrslsFqAjEQhpNtTkrB+x59Bg8eevExfA3fQh+jh/oMelAEH8CTR3GFhS5lu3W36kYTO5FJmZOCm7ZQEviZWQjz5U9mQ7hqBh/sxghepnXWenq4Nmc3HC6yXm8E6Rq0wpiAioD9wvAQD/EQD/mvEP7TEO7CieDtjrg567HBq0GexzXfXX8JOaPcQ/R2W5LiJmr77QxSTiYxBIXSxNHZCeS4XCblbPYKqUQdEeYGoqIoS7vdMaR7ogMFibuLbzZpOZ9Heb+/UEliHohWOYKk3ToRh+Ggynnjik3RDPSGsTDHRJ2sK7bqCSHGQQp6B30SJxfI6k4AIxBTcIegHHPp0okmoANukyStzAS+vKv83Zo4Uhg15iyM44uTwtE1QoHaAqwT6ei+ovEbYMaXAAMAwDeadhV8yicAAAAASUVORK5CYII=) bottom right no-repeat;
    height: 22px;
    width: 22px;
}

.container.skinAlert .so {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAhCAYAAAA2/OAtAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAUFJREFUeNrslsFOwkAQhmd2iqBpJeABgwcuvoRHz4bwMD4KF2418eQzGF6BC1y5GCUevAkGCjjOJlOyNCotlovpJH+67aZfZ//uTBZfmk0CgCORX+v1bo7b7RB2xPrSm8mFEZj1EbvzBg4QBbSAFtACmjkYEHWIh8p0A/b2evvqmuIeioleujfU3D9W/t/fZzSG84RaGEfD4XNeUI417XafeD5/zTPTtWi5HI0e8sr0U6HRW6dztxqP+3+B0m0QoFaDUXmzMBxQq7Uwvl8z1Wo9c3HICSWG2kIoiwLRmaghOtfxqchueEqzDb2LyYQFDLGnog/9AKkt9t53oJhsIL+VqQWsRAvRVL2ORO+iEz1vkQPEnZ3FscEur6SQilpS0gRMmky3JhNgcmygtMBvl6BgcCAuDDM11h/AkMbDZHwJMAADpEvVhCyP3AAAAABJRU5ErkJggg==) bottom right no-repeat;
    height: 22px;
    width: 24px;
}

.container.skinAlert .c {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA0AAAANCAYAAABy6+R8AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAB1JREFUeNpi/KvM9JGBRMDEQAYY1TSqiQqaAAIMALYPAi1uEdb2AAAAAElFTkSuQmCC);
    padding-top: 0;
    color: #fff;
}

.container.skinAlert .buttonBar {
    right: 15px;
    top: 15px;
}

.container.skin3 .n {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAkCAYAAABmMXGeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAINJREFUeNrs1jsKgEAMBNAo22klC3aW3v9YouK/UpPoIWYKWQPbPpIhkM1EJBdwZe8LDLSAo10/OByd9wOOBjUTOGpKQCmdqjthfEqm9plMzVMe/zudTtuBR8dlw6O3atLoTUCvxDNl3CgnnBP4P+pHOWhoq3KFo00dTzgaY4Rv/yPAAANOT801NrikAAAAAElFTkSuQmCC) top repeat-x;
    height: 36px;
    height: 32px;
    -ms-user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

.container.skin6 .n, .container.skin7 .n {
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding-left: 22px;
    padding-bottom: 0;
    font-size: 18px;
    vertical-align: middle;
}

.container.skin3 .ne {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAkCAYAAACTz/ouAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcVJREFUeNrslb9Lw0AUx++Sa6NWOkigqNjNYodGEcHJrUvBvYOj0MXNpbOj/0JxFerqIKijq3QTKo5BWqq0SSymtbmcF0nLNTWhzQ8E6YMv78Il73PvXt4dBABwYDojLmNPQzMA2MDEMfYECDMGtWQyHjqAYwabrTfXFWCMQb/XU3Vdf2o2GzdX1eplpVLpWFOMTAY4EQt2PrpT76emKNrLc/0in8+f00eDamBrCJuAcNg0wbRKJJNJaXfv9LFWuy4UCmv0+yWqBaoYU084lkGrrRDgwxqvcn07lzukQ91Wn8lmlMlMGbASU6tbt3f3ZzRGgmqRKv5bFhwmBPgRgRBsZrNHxWIx49gq3gb8QDiTrsavUFwAx6XSiRcAWS8GsfWN9IEdvM/UwRj2iO8aDBWLC8vlcnnfrkHMrsGoDgibJFAGgEfAMAzE/KrhbpFlkiTtUPfgXL3lEQ4BQAiBTOCxRgslA7ZxHR6EkoHncd3WutEC3hUtWoCB8RzgeakjwwgOiHsBBjhiwH8ocsSdTA+qSAEciNjmgL8HoMzKshokgK5/CgOPKwWlU+JXEICqqkjuut8pSBTFQJ3G8zyRZdl1/luAAQA69IA1bNxrwwAAAABJRU5ErkJggg==) top right no-repeat;
}

.container.skin3 .no {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAkCAYAAACJ8xqgAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAWVJREFUeNrsll9Og0AQxme30BIkiw1WmqrUeoAeoYkXaLyC9+kJOAvhsT2ND5rU+oeddRfTKkIrlHnwwUkmG9jkt9/sN2Fg0CzYL8/lFwcg31dW98Sq/W3yHyurYrA6oDRN74KzwVwIMWOcR47j7FVgHYDxJElur8bjRT8IprbdrXXJ1j7YcrW6j64nseO6+YZEbAz8gi01bHITd7s9QImN2qCk0JQ5iqK4Y9m1VVUBd+qGF5cLq+eAVAqOiULJxs0T4U/xCGVVCrk47c91W0Bb4K5BtaMz2QJWUgi8E0lUZEAGjLUqt1Sy0s5SlZwHmnIJgQwVgqJU+LTegGSvdMDH9TO8ZIQKpZSQSUqgvr9MQwkVUgONwowY+E6pMMtNkX/eFMK2MaFUu88XB+L4B7aPgstCvcHw3H9QqNjnSEDe1PQC0HcdGIWDjW4dblIPLF7zp7Qa6HkehGGIZvJtU4MbAT8EGAC5/qOWgUECxwAAAABJRU5ErkJggg==) top right no-repeat;
}

.container.skin3 .o {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAASCAYAAABb0P4QAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpiZGBgYIJi9tOnT3/R1dV98O/fPyYY/v//PyMDCYCJgcpg1MBRA0cNHDVw1EAIAAgwABTQEN1d6lDzAAAAAElFTkSuQmCC) top right repeat-y;
}

.container.skin3 .e {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAATCAYAAACKsM07AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAD5JREFUeNpi/Pjx4zMGCsCbN294Dh8+vCEhIWEKkPsBir8C8U8g/sfEQGMwasGoBaMWjFowasGoBXSxACDAABqiECj5bB54AAAAAElFTkSuQmCC) top right repeat-y;
}

.container.skin3 .s {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAfCAYAAAD0ma06AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFRJREFUeNpi/Pjx4zMGOgImBjqDUQtHLRy1cNTCUQtHLRy1cNTCUQvJACxv3rzhoauFhw8f3kBPCxmB2IyuPgTiD8PaQlCQctPbQhZ6W0jXvAgQYAAVGQvrqiFBkgAAAABJRU5ErkJggg==) bottom repeat-x;

}

.container.skin3 .se {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAfCAYAAAD9cg1AAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAXBJREFUeNrsVrtug0AQBETsRIl/J9/DZ6B8RZBSUqSkTEpqOn6AFImQUqRAgIIA8zJHdqPFOiOwMQ5NxEkj65CY2ZnbNSdGUfQlXLB837+zLOtFUZQn2H4TUkABYJIw81oEFoFFYBH4FwJZlq1d1/2Y1QH85aezCDDGRHCwMk3znR41nd/LBOI4vga4juPEqEfEzZ85CIJgY9v2K5Hz2DuZLACfyk0Yhp+qqpqwrQg7QM07kSYe6o3neaKu649EXBKqrgt5SuVIrmnag2EYDjzKCQWJ7EjgN6JRAnVdS0mSrDFzjAUrB/I3HAPAlpCTg4OIZLx2DLSgVBTFFQ3TCrsFDvSZyzwn4vSoAN5phirHCcUhwj6nVqwpgpIT2JITPp59q4qA+7FzRWgPteDyL7kOOhCQ6SZ2arWWGRFVnFDFVc66gzZWQOAEGBdV3am66b6EEd2OJO864Ul7yVuBc2eh6REcXOIZ09yc2PeuHwEGADaq8t7D/6FoAAAAAElFTkSuQmCC) bottom right no-repeat;

}

.container.skin3 .so {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAfCAYAAADnTu3OAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYBJREFUeNrslj9Pg0AYxu8PFDQYrJMDIx2bTo2bo0PHTn4BPwOzq5+kK4uDk5tDFxb3LrA2pIRAkTvfS+7MebaVakfe5Alccvx4npc7ACOEiJSzXC6L8Xi8YowRJc45RkcUQSeuHtgDe2AP/B0Ir6p8u91apwLypmnei6Jw9QkYY/5nh5vN5nm9Xnv/cUg1MLEsazWZTB48z+O2bTNlUqozUF1AkiRp5vO5Twi59X2/hLhHA1Vk0SfhiM1msyeInaRpegXfFCx6eEwfqRZLHUmWZa/T6fSuqqoA4leUUmbM21vfQCCxZBzQOciL4/gxCIL74XBYiBZofUX7voZ0B/yrFovFW57nL9dQdV2PYBVcgtyyLB1wb8NxYAobQCxvYkunZ9KtkBtF0U3btjQMw5HruheHIiMjOpXxBwIk5cixrf0c/Chzm6mnrc7V+ANUS5glYTuX0659qyAm0JLOiQZEXYAKijRwK6GmM9wVqEdWANZl13R5VelgfmiZifoUYAAtP5V3k9c4mwAAAABJRU5ErkJggg==) bottom right no-repeat;
}

.container.skin3 .c {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAUCAYAAACNiR0NAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACVJREFUeNpi/Pjx4zMGKgImBiqDUQNHDRw1cNTAUQOHioEAAQYAC8ID4QCYWz0AAAAASUVORK5CYII=);
    padding-top: 0;
}

.container.skin4 .n {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAkCAYAAACe0YppAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAH9JREFUeNrsl0sKwCAMBSOtey/cm3qKUuhHX/o5xUCj4HqY5CWQZGbJgPdBJwI8vz8j4FrrgpRa0o0Yu7shYFHg7oKMBYGxHnfOGOtxuFRT4XIqXGdr1Dj1YJsLWyDycMbyYKUOmOoxTsP4fwuEMr7W7UDAufmOgEspyJn6CDAA3K1inOHE7bsAAAAASUVORK5CYII=) top repeat-x;
    padding-left: 22px;
    padding-bottom: 0;
    font-size: 18px;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container.skin4 .ne {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAkCAYAAACTz/ouAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAcZJREFUeNrclj9PwkAYxq/tgQUSQ4wOLgqJUeYOVr+DmwkTqzg5ObmYMPgF+BBuspIQRz+CqQs7CWEwpkppe+/5oqeWWgrtBVEv+aXpn7vnnufea6sQQhSSrPEkD1NElRiYzyOQmXNQHsFMIaXb7V5Nu2nbNun1evftdvuu2Ww+4iWIIErwqzHGeByu6/J+v88ty7puNBoGdllDVpECshKIOXotPc/j8zIYDHin07nEbpvIuhDKiZi1KBHFGY0SVQU6Ig+WdWOa5jmeOgIX8ceBhONSfWAkCSrVyG5l77jVap2KmMYOstOiUjFnkhRV04h5eHBRq9V2cIw8oodi+hRRAYCkIV8okJN6/Swk8M2F6uOM0rJV2j4yDGNDCIRjUoQDRtKi53RSrVb3RblmRUQTDihjQGRaqVyu4OE2sAZBB5yOK0OmYVWpIhoatRcoAzkH8N7/Y9bB2b9Bgck54ABKqDQnHYw8T0pgVgLUZ75cRDz+TUOZbESzBPxFCzDJMgUOy3YguZN/IKI/X0WwbAf/oEzhly8yLH+jLXoN3CfbSTs4/q9S92UYL5DxYJhWwH12dObGfxFpsVjkaQUopcRx4gN4FWAA5Kz5axcu+0QAAAAASUVORK5CYII=) top right no-repeat;
}

.container.skin4 .no {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAkCAYAAABmMXGeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAZlJREFUeNq0lk9OwkAUxufNtCZQlNpEgmGBLu1C5ALohTyFtyCu2bhgS1KOwCFccQNTQnlvfFOIQSxCO9NJJm3Tya/f9735UxDlGrgaBAX3YAOFvTFy7wr/MeDEx2AHkUmSPAdBMOp2u6C1FtyhbG4G5I3H45vFYvG2XC4/0zTViHhWhyN25Ww2G8Zx/NHpdPpKqVLV9I4Bn4bDJAzDtnmBRJWhOXg6nd4/DgZJ6+qyvSEUVZp3qPIhjt+braDN2YiqbV+pnM/nL2F0PSK2CwDW0Fzpba/3ClKKDau0hf5Y9y/8EdIWKF0onUwmd8pTeZYGqkHaK42iqG+mjrEuOQICbV8oLg4YqOROvAwN2EWmBiwwV8qP2pFS2tkHOnvrPL2ijH1N1Sd9IZQYqO2Zf5W6aAdK2b7Q7pWSrkEpihoyRdf2TfVR15DpxsEM+A1Ftu988us6oLu177765ByK7pVu99M6qu8803SFer1eESLwkQJl/+wKoSojbAr1lRFJVm1OAmkNbTQawvd9yrLM5MtnYL68Sqv9FmAAuEAKeNbMSpUAAAAASUVORK5CYII=) top right no-repeat;
}

.container.skin4 .o {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABUAAAAfCAYAAAAIjIbwAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEZJREFUeNrszDENwDAMBdGfFIkNJYSzmFRJ2JUhZIjU4U669Q1JTx8Ry8y2u7+ZOfuqGr0Om7oQKCgoKCgoKCjoz9BPgAEA4r4Q94CXtCUAAAAASUVORK5CYII=) top right repeat-y;
}

.container.skin4 .e {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAfCAYAAAD9cg1AAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAEpJREFUeNpi/Pjx4zMGMsGbN294Dh8+vCEhIWEGkPsBir8A8Q8g/gvE/5gYaAxGLRi1YNSCUQtGLRi1YNSCUQtGLRi1YMRYABBgAFWmET8Z6b4KAAAAAElFTkSuQmCC) top right repeat-y;
}

.container.skin4 .s {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABoAAAAfCAYAAAD5h919AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAFFJREFUeNrs06ENACAQBEEgONCUQAnUTQ/fC+rNdwBVbBC3yelRlyPiJKCSoAQJEiRIkCBBgr6Cqrt3BDKzTUD5bVHQpKBBQY2CKgUhX7oCDACnXQpBE2fWsAAAAABJRU5ErkJggg==) bottom repeat-x;
    height: 22px;
}

.container.skin4 .se {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAfCAYAAAD9cg1AAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYpJREFUeNrslstOg0AUhoviLTb1bXyePojrLthgQpq4dteVRlZ0ywNYY0hTFi5VCukl5TIwU8bBHMwUBwuoO07yh8wk/N+cM1dpvV6/dhqG53ld0zTv+/3+DWuuQD4TYtoypQedf44W0AJaQAtoAfsiTfefxo0BkiTRKIqOn1hAFy18fwdIkkQOgiBRVfU5SwaM6Z9lMJ/Pe5ZlPYA5L8qrEWCz2Zyyq3arKModa2IQya9JPpPaAITQkeM4F7quX9u2nd3BCQgXAJ8QuY45G/WZ67q98XisDQYDk3XFcMHHIAyAr6gE8H3/ZLlcdheLxWo0Gl0Nh8NHMA5BUWkG2dNDZEoIOcQYy3Ecy2EYepPJ5FbTNAPKEoNpAAAEZSLF1SRn7xoRgK1xfzabvUyn03fDMN5gZARGigCQZ8CXZ2eSJabLClWi8GO+YvLaI8EEf5uDVQXzXISDYK4sqci8KoCHpDDSfM1vRWXZOVKYziuYFzMR7dpOGaDOXqAC4M+HYsXdTPe0S+NDgAEA6ojxoDTgnUYAAAAASUVORK5CYII=) bottom right no-repeat;
}

.container.skin4 .so {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABYAAAAfCAYAAADjuz3zAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAYBJREFUeNrslL9uglAUh++9YJFCSJuyOBiC0aUTgyYsLk3qE3TkXXydbl1IunRwcXHpjqMuHYgOAm3lT88114TQW5Rqkw6c5AuEkO+c/DhcjBDCAAEE13XvTNN86nQ6b2maEkqWZZiCKhZBf1S1uBbX4lr8f8QLqDAMm+cQ4/x5DEiz2WzR7XZDSZLi/XlMX6x6Jn+LIoqi59VqpZwjiiwPpPG4Xq9VmBZDZZRTM6aC1HGc6WazeVkulzenTCwU8t5l7fv+dDAYPCRJcq1pWlR4p5IY5/E8b9tut19brdZ9HMdXiqJ8EEKyKnKBM81u8slk4s/nc7ff79tBEPRo1nRTaAO4R5SyJpgTBeUCoPt8Cajj8Xho27aj6/oQ5FuQp7Isfx7aY8TLmcklJqfIlmXpo9HoVlVVzTCMXtlu4x82ZS9v5KZvskYNBimLQuQ8S4sryNgC70wqFj74URPzMhcYIruSMukxq4ML5wnhTIp/Iy42QIcmrfwnlWwRt74EGADRd3jP/CikOwAAAABJRU5ErkJggg==) bottom right no-repeat;
}

.container.skin4 .c {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABwAAAAcCAYAAAByDd+UAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAACxJREFUeNrszTERAAAIBCDt39P9G9jCwYMCdJKpQy0UCoVCoVAoFAo/hivAAAflaFkyg/k9AAAAAElFTkSuQmCC);
    padding-top: 0;
}

.container.skin5 .n {
    background-color: #ddd;
    padding-left: 22px;
    font-size: 18px;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container.skin5 .ne {
    background-color: #ddd;
}

.container.skin5 .no {
    background-color: #ddd;
}

.container.skin5 .o {
    background: 0 0;
}

.container.skin5 .e {
    background: 0 0;
}

.container.skin5 .s, .container.skin5 .se, .container.skin5 .so {
    height: 22px;
    background: 0 0;
}

.container.skin5 .se {
    width: 22px;
}

.container.skin5 .so {
    width: 24px;
}

.container.skin5 .c {
    background: 0 0;
    padding-top: 0;
}

.container.skin6 .n {
    background-color: #ddd;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container.skin6 .ne {
    background-color: #ddd;
}

.container.skin6 .no {
    background-color: #ddd;

}

.container.skin6 .o {
    background-color: #ddd;

}

.container.skin6 .e {
    background-color: #ddd;

}

.container.skin6 .s, .container.skin6 .se, .container.skin6 .so {
    height: 22px;
    background-color: #ddd;
}

.container.skin6 .se {
    width: 22px;
}

.container.skin6 .so {
    width: 24px;
}

.container.skin6 .c {
    background-color: #ddd;
    padding-top: 0;
}

.container.skin7 .n {
    background-color: #000;

    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

    .container.skin7 .n a {
        color: #fff;
    }

.container.skin7 .ne {
    background-color: #000;

}

.container.skin7 .no {
    background-color: #000;

}

.container.skin7 .o {
    background-color: #ddd;

}

.container.skin7 .e {
    background-color: #ddd;

}

.container.skin7 .s, .container.skin7 .se, .container.skin7 .so {
    height: 22px;
    background-color: #ddd;
}

.container.skin7 .se {
    width: 22px;
}

.container.skin7 .so {
    width: 24px;
}

.container.skin7 .c {
    background-color: #ddd;
}

.container.stiky .n {
    background-color: #ccc;
    padding-left: 22px;
    padding-bottom: 0;
    font-size: 18px;
    vertical-align: middle;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.container.stiky .ne {
    background-color: #ccc;

}

.container.stiky .no {
    background-color: #ccc;

}

.container.stiky .o {

}

.container.stiky .e {
 
}

.container.stiky .s {
    height: 22px;
}

.container.stiky .se {

}

.container.stiky .so {

}

.container.stiky .c {
    padding-top: 0;
}

.container.stikynote {
    background: #dcdcdc;
    border: 1px solid #808080;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

    .container.stikynote .n a {
        font-size: 16px;
        color: #000;
    }

    .container.stikynote .ne, .container.stikynote .no {

    }

    .container.stikynote .s {
        height: 10px;
    }

    .container.stikynote .buttonBar {
        right: 5px;
        top: 0;
    }
