.ui-autocomplete {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  float: left;
  display: none;
  min-width: 160px;
  _width: 160px;
  padding: 4px 0;
  margin: 2px 0 0 0;
  list-style: none;
  background-color: #ffffff;
  border-color: #ccc;
  border-color: rgba(0, 0, 0, 0.2);
  border-style: solid;
  border-width: 1px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -webkit-background-clip: padding-box;
  -moz-background-clip: padding;
  background-clip: padding-box;
  *border-right-width: 2px;
  *border-bottom-width: 2px;

  .ui-menu-item > a.ui-corner-all {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: 18px;
    color: #555555;
    white-space: nowrap;

    &.ui-state-hover, &.ui-state-active {
      color: #ffffff;
      text-decoration: none;
      background-color: #0088cc;
      border-radius: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      background-image: none;
    }
  }
}


  body{
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                font-family: 'Roboto', sans-serif;
                font-family: 'Oxygen', sans-serif;
                -ms-word-wrap: break-word !important;
                word-wrap: break-word !important;
                -webkit-text-size-adjust: 100%;
                -ms-text-size-adjust: 100%;
                -moz-text-size-adjust: 100%;
                text-size-adjust: 100%;
                background-color: #fff;
                color: #282828;
                min-width: 320px;
                position: relative;
        }
  .hlpCard{
      margin:3px;
  }
        .hmhelpHd{    font-weight: 400;
    color: #007361;
    font-size: 15px;}
        .zoom {
            -moz-transition: transform .2s;
            -o-transition: transform .2s;
            -webkit-transition: transform .2s;
            transition: transform .2s;
        }

            .zoom:hover {
                cursor: zoom-in;
                z-index:9;
                position: relative;
                -ms-transform: scale(3.5); /* IE 9 */
                -webkit-transform: scale(3.5); scale(3.5); /* Safari 3-8 */
                -moz-transform: scale(3.5); scale(3.5); scale(.5); scale(3.5);
                -o-transform: scale(3.5); scale(3.5);
                transform: scale(3.5);
             
            }
                /*.ui-autocomplete {
                    max-height: 75vh;
                    overflow-y: auto;
                    /* prevent horizontal scrollbar */
                    /*overflow-x: hidden;
                    text-align: left;
                    max-width: 50vw;*/
                /*}*/

                    .ui-autocomplete::-webkit-scrollbar {
                        width: 1px;
                        background-color: #c4c4c4;
                        /* IE 6 doesn't support max-height
                    * we use height instead, but this forces the menu to always be this tall

                    * html .ui-autocomplete {
                    height: 100px;*/
                    }*/

                /* ---- particles.js container ---- */ /*#particles-js{ position:absolute; width: 100%; height: 100%; background-color: #b61924; background-image: url(""); background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }*/ /* ---- stats.js ---- */

                .count-particles {
                    background: #000022;
                    position: absolute;
                    top: 48px;
                    left: 0;
                    width: 80px;
                    color: #13E8E9;
                    font-size: .8em;
                    text-align: left;
                    text-indent: 4px;
                    line-height: 14px;
                    padding-bottom: 2px;
                    font-family: Helvetica, Arial, sans-serif;
                    font-weight: bold;
                }

                .js-count-particles {
                    font-size: 1.1em;
                }

        #stats, .count-particles {
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            margin-top: 5px;
            margin-left: 5px;
        }

                #stats {
                    border-radius: 3px 3px 0 0;
                    overflow: hidden;
                }

                * html .count-particles {
                    border-radius: 0 0 3px 3px;
                }

                .move-area { /*normally use body*/
                    /*width: 100vw;*/
                    height: 100vh;
                    /*padding: 10% 45%;*/
                }

                /*.eye {
          position: relative;
          display: inline-block;
          border-radius: 50%;
          height: 30px;
          width: 30px;
          background: #CCC;
        }*/
                .eye:after { /*pupil*/
                    /*position: absolute;
          bottom: 17px;
          right: 10px;
          width: 10px;
          height: 10px;
          background: #000;
          border-radius: 50%;
          content: " ";*/
                }

                .ufo {
                    font-size: 17vmin;
                    position: relative;
                }

                .ship {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    -moz-transform: translate(-50%, -50%);
                    -ms-transform: translate(-50%, -50%);
                    -o-transform: translate(-50%, -50%);
                    -webkit-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
                }

                .glass {
                    width: 2.65em;
                    height: 1.5em;
                    opacity: 0.9;
                    margin: auto;
                    border-top-left-radius: 4em;
                    border-top-right-radius: 4em;
                    /*box-shadow:inset 0px 20px 65px -10px rgb(139, 195, 74)*/
                }

                .base {
                    width: 3.25em;
                    height: 0.3em;
                    border-radius: 200px;
                    margin: auto;
                    margin-top: 30px;
                    background: #2196f3;
                    padding-left: 20px;
                    padding-right: 20px;
                    border-top: 3px solid rgba(255, 255, 255, 0.17);
                    border-bottom: 10px solid rgba(0, 0, 0, 0.09);
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                }

                    .base span {
                        width: 14px;
                        height: 14px;
                        border-radius: 50%;
                        border: 2px solid #555;
                        background: #eadc8a;
                        margin-top: 7px;
                    }

                .monster {
                    font-size: 0.7em;
                    margin: 0 auto;
                    width: 2em;
                    height: 1.3em;
                    border-radius: 0.5em 0.5em 0em 0em / 0.6em 0.6em 0em 0em;
                    -moz-box-sizing: content-box;
                    -webkit-box-sizing: content-box;
                    box-sizing: content-box;
                    border: 0.07em solid transparent;
                    position: relative;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    -webkit-user-select: none;
                    user-select: none;
                    cursor: move;
                    cursor: -moz-grab;
                    cursor: -webkit-grab;
                    cursor: grab;
                }

                    .monster.small {
                        font-size: 4rem;
                    }

                .body {
                    /*width: 100%;
                    height: 100%;*/
                    background-color: currentColor;
                    border-radius: inherit;
                    position: relative;
                    -moz-transform-origin: bottom center;
                    -ms-transform-origin: bottom center;
                    -o-transform-origin: bottom center;
                    -webkit-transform-origin: bottom center;
                    transform-origin: bottom center;
                    -moz-animation: bouncebody alternate infinite 400ms 40ms ease-in-out;
                    -o-animation: bouncebody alternate infinite 400ms 40ms ease-in-out;
                    -webkit-animation: bouncebody alternate infinite 400ms 40ms ease-in-out;
                    animation: bouncebody alternate infinite 400ms 40ms ease-in-out;
                }

                .eyes {
                    text-align: center;
                    display: flex;
                    font-size: 0.65em;
                    width: 1em;
                    height: 1em;
                    position: absolute;
                    left: 0.25em;
                    top: 0.3em;
                    -moz-animation: bounce alternate infinite 500ms ease-in-out;
                    -o-animation: bounce alternate infinite 500ms ease-in-out;
                    -webkit-animation: bounce alternate infinite 500ms ease-in-out;
                    animation: bounce alternate infinite 500ms ease-in-out;
                }

                .eye {
                    display: inline-block;
                    overflow: hidden;
                    position: relative;
                    width: 100%;
                    height: 100%;
                    background-color: white;
                    border-radius: 0.5em 0.5em 0.5em 0.5em / 0.6em 0.6em 0.4em 0.4em;
                    box-shadow: 0.03em 0.14em rgba(0,0,0,0.1);
                    -moz-animation: blink forwards infinite 15s ease-in-out;
                    /*blink forwards infinite 20s ease-in-out;*/
                    -o-animation: blink forwards infinite 15s ease-in-out;
                    -webkit-animation: blink forwards infinite 15s ease-in-out;
                    animation: blink forwards infinite 15s ease-in-out;
                }

                    .eye:nth-last-child(n+2),
                    .eye:nth-last-child(n+2) ~ .eye {
                        width: 1em;
                        height: 1em;
                        font-size: 0.5em;
                    }

                .pupil {
                    --pupil-size: 63%;
                    position: absolute;
                    content: ' ';
                    width: var(--pupil-size);
                    height: var(--pupil-size);
                    border-radius: 50%;
                    background-color: white;
                    -moz-box-sizing: border-box;
                    -webkit-box-sizing: border-box;
                    box-sizing: border-box;
                    -moz-transform: translateX(calc(0.5 * 0.3em + 0.05em)) translateY(calc(0.5 * 0.3em + 0.05em));
                    -ms-transform: translateX(calc(0.5 * 0.3em + 0.05em)) translateY(calc(0.5 * 0.3em + 0.05em));
                    -o-transform: translateX(calc(0.5 * 0.3em + 0.05em)) translateY(calc(0.5 * 0.3em + 0.05em));
                    -webkit-transform: translateX(calc(0.5 * 0.3em + 0.05em)) translateY(calc(0.5 * 0.3em + 0.05em));
                    transform: translateX(calc(0.5 * 0.3em + 0.05em)) translateY(calc(0.5 * 0.3em + 0.05em));
                }

                    .pupil::before {
                        content: ' ';
                        width: 0.30em;
                        height: 0.30em;
                        -moz-transform: translateX(-0.05em);
                        -ms-transform: translateX(-0.05em);
                        -o-transform: translateX(-0.05em);
                        -webkit-transform: translateX(-0.05em);
                        transform: translateX(-0.05em);
                        background-color: black;
                        display: block;
                        border-radius: 50%;
                    }

                .mouth {
                    font-size: 0.2em;
                    width: 1em;
                    height: 0.3em;
                    background: black;
                    border-radius: 1.5em 1.5em 0.5em 0.5em;
                    position: absolute;
                    bottom: 0.8em;
                    left: 50%;
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                    .mouth::before {
                        width: 50%;
                        height: 30%;
                        display: block;
                        content: ' ';
                        background-color: #ff8800;
                        border-radius: 50% / 100% 100% 50% 50%;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        -moz-transform: translateY(-10%) translateX(-50%);
                        -ms-transform: translateY(-10%) translateX(-50%);
                        -o-transform: translateY(-10%) translateX(-50%);
                        -webkit-transform: translateY(-10%) translateX(-50%);
                        transform: translateY(-10%) translateX(-50%);
                    }

                .vampi-mouth {
                    position: absolute;
                    background: black;
                    overflow: hidden;
                    font-size: 0.3em;
                    width: 1em;
                    height: 0.7em;
                    left: 50%;
                    bottom: 0.3em;
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                    border-radius: 0.7em 0.7em 1.2em 1.2em;
                }

                    .vampi-mouth::before {
                        content: '';
                        display: block;
                        background: #ff8800;
                        width: 100%;
                        height: 0.2em;
                        position: absolute;
                        bottom: 0;
                        border-radius: 50% 50% 0 0;
                    }

                .vampi-tooth::before,
                .vampi-tooth::after,
                .vampi-tooth {
                    --teeth-size: 0.25em;
                    display: block;
                    width: 0;
                    height: 0;
                    font-size: inherit;
                    border-left: calc(var(--teeth-size) / 2) solid transparent;
                    border-right: calc(var(--teeth-size) / 2) solid transparent;
                    border-top: var(--teeth-size) solid #fff;
                    position: absolute;
                    top: 0;
                    left: 50%;
                    -moz-transform: translateX(-50%);
                    -ms-transform: translateX(-50%);
                    -o-transform: translateX(-50%);
                    -webkit-transform: translateX(-50%);
                    transform: translateX(-50%);
                }

                    .vampi-tooth:before {
                        content: '';
                        -moz-transform: translateX(-150%) translateY(-100%);
                        -ms-transform: translateX(-150%) translateY(-100%);
                        -o-transform: translateX(-150%) translateY(-100%);
                        -webkit-transform: translateX(-150%) translateY(-100%);
                        transform: translateX(-150%) translateY(-100%);
                    }

                    .vampi-tooth:after {
                        content: '';
                        -moz-transform: translateX(50%) translateY(-100%);
                        -ms-transform: translateX(50%) translateY(-100%);
                        -o-transform: translateX(50%) translateY(-100%);
                        -webkit-transform: translateX(50%) translateY(-100%);
                        transform: translateX(50%) translateY(-100%);
                    }

                .ear {
                    position: absolute;
                    top: -1.2em;
                    -moz-transform-origin: bottom center;
                    -ms-transform-origin: bottom center;
                    -o-transform-origin: bottom center;
                    -webkit-transform-origin: bottom center;
                    transform-origin: bottom center;
                    font-size: 0.3em;
                    width: .8em;
                    height: 1.5em;
                    left: 18%;
                    -moz-transform: rotate(-10deg);
                    -ms-transform: rotate(-10deg);
                    -o-transform: rotate(-10deg);
                    -webkit-transform: rotate(-10deg);
                    transform: rotate(-10deg);
                    -moz-animation: antena_e 5s infinite;
                    -o-animation: antena_e 5s infinite;
                    -webkit-animation: antena_e 5s infinite;
                    animation: antena_e 5s infinite;
                }

                    .ear + .ear {
                        left: auto;
                        right: 18%;
                        -moz-transform: rotate(10deg);
                        -ms-transform: rotate(10deg);
                        -o-transform: rotate(10deg);
                        -webkit-transform: rotate(10deg);
                        transform: rotate(10deg);
                        -moz-animation: antena_d 5s infinite;
                        -o-animation: antena_d 5s infinite;
                        -webkit-animation: antena_d 5s infinite;
                        animation: antena_d 5s infinite;
                    }

                    .ear:before {
                        content: '';
                        display: block;
                        width: .8em;
                        height: .8em;
                        position: absolute;
                        z-index: 2;
                        left: 0;
                        border-radius: 50%;
                        background: currentColor;
                        box-shadow: inset -.1em -.08em rgba(0,0,0,.1);
                    }

                    .ear:after {
                        content: '';
                        display: block;
                        width: 0.3em;
                        height: 100%;
                        position: absolute;
                        top: .2em;
                        left: .3em;
                        background: currentColor;
                    }



                @-moz-keyframes blink {
                    0%, 2%, 60%, 62%, 100% {
                        -moz-transform: scaleX(1) scaleY(1);
                        -ms-transform: scaleX(1) scaleY(1);
                        -o-transform: scaleX(1) scaleY(1);
                        -webkit-transform: scaleX(1) scaleY(1);
                        transform: scaleX(1) scaleY(1);
                    }

                    1%, 61% {
                        -moz-transform: scaleX(1.3) scaleY(0.1);
                        -ms-transform: scaleX(1.3) scaleY(0.1);
                        -o-transform: scaleX(1.3) scaleY(0.1);
                        -webkit-transform: scaleX(1.3) scaleY(0.1);
                        transform: scaleX(1.3) scaleY(0.1);
                    }
                }

                @-webkit-keyframes blink {
                    0%, 2%, 60%, 62%, 100% {
                        -moz-transform: scaleX(1) scaleY(1);
                        -ms-transform: scaleX(1) scaleY(1);
                        -o-transform: scaleX(1) scaleY(1);
                        -webkit-transform: scaleX(1) scaleY(1);
                        transform: scaleX(1) scaleY(1);
                    }

                    1%, 61% {
                        -moz-transform: scaleX(1.3) scaleY(0.1);
                        -ms-transform: scaleX(1.3) scaleY(0.1);
                        -o-transform: scaleX(1.3) scaleY(0.1);
                        -webkit-transform: scaleX(1.3) scaleY(0.1);
                        transform: scaleX(1.3) scaleY(0.1);
                    }
                }

                @keyframes blink {
                    0%, 2%, 60%, 62%, 100% {
                        -moz-transform: scaleX(1) scaleY(1);
                        -ms-transform: scaleX(1) scaleY(1);
                        -o-transform: scaleX(1) scaleY(1);
                        -webkit-transform: scaleX(1) scaleY(1);
                        transform: scaleX(1) scaleY(1);
                    }

                    1%, 61% {
                        -moz-transform: scaleX(1.3) scaleY(0.1);
                        -ms-transform: scaleX(1.3) scaleY(0.1);
                        -o-transform: scaleX(1.3) scaleY(0.1);
                        -webkit-transform: scaleX(1.3) scaleY(0.1);
                        transform: scaleX(1.3) scaleY(0.1);
                    }
                }

                @keyframes bounce {
                    to {
                        -moz-transform: translateY(4%);
                        -ms-transform: translateY(4%);
                        -o-transform: translateY(4%);
                        -webkit-transform: translateY(4%);
                        transform: translateY(4%);
                    }
                }

                @keyframes bouncebody {
                    to {
                        -moz-transform: scaleX(1.03) scaleY(0.97);
                        -ms-transform: scaleX(1.03) scaleY(0.97);
                        -o-transform: scaleX(1.03) scaleY(0.97);
                        -webkit-transform: scaleX(1.03) scaleY(0.97);
                        transform: scaleX(1.03) scaleY(0.97);
                    }
                }

                @keyframes antena_d {
                    50% {
                        -moz-transform: rotate(20deg);
                        -ms-transform: rotate(20deg);
                        -o-transform: rotate(20deg);
                        -webkit-transform: rotate(20deg);
                        transform: rotate(20deg);
                    }
                }

                @keyframes antena_e {
                    50% {
                        -moz-transform: rotate(-20deg);
                        -ms-transform: rotate(-20deg);
                        -o-transform: rotate(-20deg);
                        -webkit-transform: rotate(-20deg);
                        transform: rotate(-20deg);
                    }
                }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

       .srchDiv{
           
     background-color: #00c2a414;
    padding-top: 20px;
    background-position: center;
    background-size: cover;
       }   
            .hlptopic{
   color: #9c9b9b;
    font-size: 18px;
    font-weight: 300;
    line-height: normal;
    margin-bottom: -5px;

            }
            .hlpsubj{
                     color: #009688;
    font-size: 25px;
    font-weight: 500;
    line-height: normal;
    margin-bottom: 20px;
            }
            .hlpstephd{
   color: #009688;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 30px;
    margin-top: 40px;
            }
            .hlpstep{
               color: #607D8B;
    font-size: 15px;
    font-weight: 500;
    margin: 20px;
            }
            .hlpstpnote{
                       color:#9a9a9a;
    font-size: 14px;
    font-weight: 400;
    margin: 0 0 0 15%;
            }
            .hlpcmnNote{
    color: #b20c00;
    font-size: 15px;
    font-weight: 400;
    line-height: normal;
    margin-top: 20px;
    font-family: sans-serif;
            }
            .hlplnk{
                
    margin-top:15px;
    color: #607D8B;
    font-size: 14px;

            }
            .hlpImg{
                 width: 20%;
    margin: 0 0 0 20%;
    border: 1px solid #d5d5d5;
            }
            .watchVidTxt{
                
    font-size: 17px;
    color: #868686;
    padding: 14px;
    text-align:  center;

            }
            .hlpstepdone{
                font-size:50px;color:#009688;padding-left: 25%;margin-top: 40px;
            }

            
@-webkit-keyframes typing { from { width: 0; } }
@-webkit-keyframes blink-caret { 50% { border-color: transparent; } }

